﻿@model List<Contact>

@*<a asp-action="TabContact" asp-controller="Contact" class="btn btn-dark" type="submit">Ajouter</a>*@
<button class="btn btn-dark" data-toggle="modal" data-target="#exampleModal">Ajouter</button>
<table class="table ">
    <tr>
        <td>Nom</td>
        <td>Prenom</td>
        <td>Favori</td>
        <td>Action</td>
    </tr>
    @if (Model != null)
    {
        @foreach (Contact item in Model)
        {
            <tr>
                <td>@item.LastName</td>
                <td>@item.FirstName</td>
                <td>@(item.IsFavorite ? "♥" : "X")</td>
                <td><span>
                        
                        <a asp-controller="Contact" asp-action="RemoveContact" asp-route-id="@item.Id" >Delete</a>
                        <a>action</a>
                    </span>
                </td>
            </tr>

        }
    }
</table>
@{ 
    Contact ok = new Contact();
}
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form class=" form" asp-action="Index" asp-controller="Contact" method="post">

                    <input name="FirstName" value="Prénom" class=" form-control" type="text" />
                    <input name="LastName" value="Nom" class=" form-control" type="text" />
                    <input name="Email" value="Email" class=" form-control" type="text" />
                    <input type="submit"  value="Add" class="btn btn-primary" />
                    
                </form>
            </div>
            
        </div>
    </div>
</div>





