﻿@model GestContact.Models.Contact

@{
    ViewData["Title"] = "View";
}



<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Index" asp-controller="Contact" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">

                <input asp-for="FirstName" value="Prénom" class=" form-control" type="text" />
                <input asp-for="LastName" value="Nom" class=" form-control" type="text" />
                <input asp-for="Email" value="Email" class=" form-control" type="text" />
                <span>
                    <label>Favori ?</label>
                    <input type="checkbox" asp-for="IsFavorite" />
                </span>
                

                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
